body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
    background-color: #222;
    color: #fff;
}

/* NAGŁÓWEK KOMPUTER */
.header {
    background-color: #f74848;
}

.header .header_title {
    margin: 0;
    padding: 2vh 0;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}

.header_menu .header_menu--list {
    display: block;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header_menu .header_menu--list .header_menu--item {
    display: inline-block;
    padding: 1vh 1vw;
    border-right: 1px dashed #fff;
}

.header_menu .header_menu--list .header_menu--item:first-child {
    border-left: 1px dashed #fff;
}

.header_menu .header_menu--list .header_menu--item .header_menu--link {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.header_menu .header_menu--list .header_menu--item:hover {
    background-color: #fa1616;
}

/* TREŚĆ KOMPUTER */
.container {
    width: 80vw;
    margin: 0 auto;
}

.container .container__gallery {
    width: 79.5%;
    float: left;
}

.container .container__gallery .container__gallery--picture {
    width: 22.5%;
    height: auto;
    margin: 1%;
    display: inline-block;
}

.container .container__news {
    width: 20%;
    background-color: gray;
    float: right;
}

.container .container--clear {
    clear: both;
}

/* TABLET */
@media only screen and (max-width: 1200px) {
    /* NAGŁÓWEK TABLET */
    .header .header_title {
        font-size: 3.5em;
    }
    
    .header_menu .header_menu--list .header_menu--item .header_menu--link {
        font-size: 1.75em;
    }
    
    /* TREŚĆ TABLET */
    .container .container__gallery {
        width: 100%;
        float: none;
    }

    .container .container__gallery .container__gallery--picture {
        width: 47.5%;
        margin: 1%;
    }

    .container .container__news {
        display: none;
        float: none;
    }

    .container .container--clear {
        clear: none;
    }   
}

/* SMARTFON */
@media only screen and (max-width: 500px) {
    /* NAGŁÓWEK SMARTFON */
    .header .header_title {
        font-size: 4em;
    }
    
    .header_menu .header_menu--list .header_menu--item {
        display: block;
        border-bottom: 1px dashed #fff;
        border-right: none;
    }
    
    .header_menu .header_menu--list .header_menu--item:first-child {
        border-top: 1px dashed #fff;
        border-left: none;
    }
    
    .header_menu .header_menu--list .header_menu--item .header_menu--link {
        font-size: 2.0em;
    }
    
    /* TREŚĆ SMARTFON */
    .container .container__gallery {
        width: 100%;
        float: none;
    }

    .container .container__gallery .container__gallery--picture {
        display: block;
        width: 94%;
        margin: 3%;
    }

    .container .container__news {
        display: none;
        float: none;
    }

    .container .container--clear {
        clear: none;
    }
}